
body{
    background-image: url(/assets/circuit-board.svg);
    background-color: rgb(187, 187, 187);
}

.mainContent{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}


footer{
    width: 100%;
    text-align: center;
    height:40px;
    margin: 40px 0 0;

    align-content: center;
}






